// Custom Sass Variables

// Font Sizes
$font-size-p-small: 24px;
$font-size-p-small-r: 2.4rem;

// $font-size-p-big: $font-size-p-small;
// $font-size-p-big-r: $font-size-p-small-r;

$font-size-p-big: 36px;
$font-size-p-big-r: 3.6rem;

$font-size-p-title: 48px;
$font-size-p-title-r: 4.8rem;


@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";

/*
Plugin: jQuery Parallax
Version 1.1
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

// @charset "utf-8";
/* CSS Document */

// body{
//   margin: 0;
//   min-width: 980px;
//   padding: 0;
// }

// p{
//   margin: 0 0 20px 0;
// }

// p, ul{
//   font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
//   font-size-adjust:0.488;
//   font-weight:200;
//   font-style:normal;
// }

// img{
//   border: 0;
// }

// h1, #pixels{
//   font-family:"Museo 900", Verdana, serif;
//   font-size-adjust:0.40;
//   font-weight:700;
//   font-style:normal;
// }

// h2{
//   font-family:"Beau Sans Pro Book", Verdana, sans-serif;
//   font-size-adjust:0.531;
//   font-weight:500;
//   font-style:normal;
// }

// #header h1, #pixels{
//   color: #48941A;
// }


// #header, #intro, #second{
//   width: 100%;
// }




















.float-left{
  float: left;
  margin: 0 0 0 20px;
}

.float-right{
  float: right;
  margin: 0 20px 0 0;
}

.center{
  font-size: 2.5em;
  padding: 80px 0 0 0;
  text-align: center;
}









































html {
  font-size: 10px;
}

body {
  background: #fff;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: $font-size-p-small;
  font-size: $font-size-p-small-r;
  line-height: 1.4;
}


.background {
  position: fixed;
  height: 100%;
  width: 100%;
  // background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
  // background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#bbb));
  background: $white;
  z-index: 0;
}

#whitebkgd {
  background: white;
}

// ul {
//   list-style: none;
//   padding: 0;
// }

// h1 {
//   font-size: 60px;
//   font-size: 6rem;
//   padding: 0;
// }

// h2 {
//   font-size: 48px;
//   font-size: 4.8rem;
// }

p, li {
  font-weight: 400;
  font-size: $font-size-p-big;
  font-size: $font-size-p-big-r;
}

a, a:visited {
  font-weight: 400;
  font-style: italic;
  color: #666;
  padding-right: 3px;
  padding-right: .3rem;
}

li {
  padding: 4px 0;
  padding: .4rem 0;
}

// img {
//   width: 100%;
// }

#justify-text {
  text-align: justify;
}

.align-left-text {
  text-align: left;
}

#not-bold {
  font-family: Arial;
}

/*----------------------------------------  HEADER  */

#nav{
  list-style: none;
  position: fixed;
  right: 20px;
  z-index: 999;
}

#nav li{
  margin: 0 0 15px 0;
}

#nav li a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
  border: solid 1px black;
}

#nav li a.current, a.nav-button:hover {
  background-color: green;
}

/*------------------------  SLIDES  */

.off-screen {
  top: 1200px;
}

.container-fluid#no-padding {
   padding-right: 0px;
   padding-left: 0px;
}

.slide {
  position: relative;
  margin: 0;
  width: 100%;
  height: 600px;
  height: 60rem;
  padding: 100px 0 200px;
  padding: 10rem 0 20rem;
  text-align: center;
}

.story {
  margin: 0 auto;
  min-width: 980px;
  overflow: auto;
  width: 980px;
}

.story .float-left, .story .float-right{
  padding: 100px 0 0 0;
  position: relative;
  width: 350px;
}

.or-block {
  display: block;
}

#what1 img, #what4 img, #when img, #what6 img {
  width: 100%;
}

#what1 {
  padding: 150px 0 150px;
  padding: 15rem 0 15rem;
  // background: url(../images/firstBG.jpg) 50% -75px no-repeat fixed;
  color:  $black;
  margin: 0 auto;
  height: 700px;
  height: 70rem;
  // padding: 160px 0 0 0;
}

#what1 p, #what2 p {
  font-size: $font-size-p-big;
  font-size: $font-size-p-big-r;
  // padding-left: 130px;
  text-align: left;
  padding-left: 50px;
  padding-left: 5.0rem;
}

#what1 p#mental {
  font-size: $font-size-p-big;
  font-size: $font-size-p-big-r;
  padding-left: 0px;
  padding-left: 0rem;
  text-indent: 400px;
  @media (max-width: 920px) {
    text-indent: 200px;
  }
  @media (max-width: 800px) {
    text-indent: 150px;
  }
  @media (max-width: 680px) {
    text-indent: 100px;
  }
}

#mental-pin {
  height: 500px;
}

// #what2 {
//   padding: 0px 0 0px;
//   padding: 0rem 0 0rem;
//   margin-top: 400px;
//   margin-top: 40rem;
//   // background: url(../images/secondBG.jpg) 50% 0 no-repeat fixed;
//   // color: white;
//   // height: 1300px;
//   // margin: 0 auto;
//   // overflow: hidden;
//   // padding: 0;
// }

// #what2 .bg {
//   background: url(../images/trainers.png) 50% 0 no-repeat fixed;
//   height: 1300px;
//   margin: 0 auto;
//   padding: 0;
//   position: absolute;
//   width: 900px;
//   z-index: 200;
// }

#forest-info {
  background: url(../images/forest1.jpg) 50% 0 no-repeat fixed;
  color: white;
  height: 1300px;
  overflow: hidden;
  padding: 0;
  width: 100%;
  padding-top: 50px;
  padding-top: 5rem;
}

#forest-info p {
  font-size: $font-size-p-big;
  font-size: $font-size-p-big-r;
  color: white;
  padding-top: 25px;
  padding-top: 2.5rem;
}

#what3 {
  background: url(../images/grass-large.jpg) 50% 0 no-repeat fixed;
  color: white;
  height: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
  padding-top: 75px;
  padding-top: 7.5rem;
}

#what3 p {
  font-size: $font-size-p-title;
  font-size: $font-size-p-title-r;
  color: white;
  padding-top: 75px;
  padding-top: 7.5rem;
}

#what3 .outline-it {
  text-outline: 2px 2px $black;
}

#what3 small {
  display: block;
  font-size: $font-size-p-small;
  font-size: $font-size-p-small-r;
  font-weight: 400;
  font-style: italic;
  padding-bottom: $font-size-p-small;
  padding-bottom: $font-size-p-small-r;
}

#what4 {
  background: url(../images/grass-large.jpg) 50% 0 no-repeat fixed;
  color: white;
  height: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
  padding-top: 25px;
  padding-top: 2.5rem;
}

#what4 p {
  font-size: $font-size-p-big;
  font-size: $font-size-p-big-r;
  color: white;
  text-align: left;
  padding-top: 50px;
  padding-top: 5.0rem;
}

#what4 img {
  padding-top: 100px;
  padding-top: 10rem;
}

#city-view {
  background: url(../images/map-green-buildings.jpg) 50% 0 no-repeat fixed;
  color: white;
  height: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
  padding-top: 50px;
  padding-top: 5rem;
}

#city-view p {
  font-size: $font-size-p-small;
  font-size: $font-size-p-small-r;
  color: white;
  padding-top: 25px;
  padding-top: 2.5rem;
}




#venn-di {
  // background: url(../images/firstBG.jpg) 50% -75px no-repeat fixed;
  color: $black;
  height: 1200px;
  margin: 0 auto;
  // padding: 160px 0 0 0;
}

.fixed-top0-first {
  position: fixed;
  top: 0;
  height: 100%;
  opacity: 0;
  width: 100%;
}

#venn-di img.resize-height-first {
  position: relative;
  height: 100%;
}



.fixed-top0 {
  position: fixed;
  top: 0;
  height: 100%;
  opacity: 0;
  width: 100%;
}

#venn-di img.resize-height {
  position: relative;
  max-height: 100%;
}












#when {
  padding: 80px 0 200px;
  padding: 8rem 0 20rem;
  background: url(../images/grass-large.jpg) 50% 0 no-repeat fixed;
}

#when p {
  font-size: $font-size-p-big;
  font-size: $font-size-p-big-r;
  color: $white;
  text-align: left;
  padding-top: 50px;
  padding-top: 5.0rem;
}

#when img {
  padding-top: 100px;
  padding-top: 10rem;
}

#city-view-2 {
  background: url(../images/mapwithtext.jpg) 50% 0 no-repeat fixed;
  color: white;
  height: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
  padding-top: 50px;
  padding-top: 5rem;
}

#what6 {
  padding: 80px 0 200px;
  padding: 8rem 0 20rem;
  background: url(../images/grass-large.jpg) 50% 0 no-repeat fixed;
}

#what6 p {
  margin: 0;
}

.photoslide {
  color: white;
  height: 1200px;
  height: 120rem;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 0;
  width: 100%;
  // margin-top: 50px;
  // margin-top: 5rem;
}

#photos-promo {
  @extend .photoslide;
  background: url(../images/lastyear.jpg) 50% 50% no-repeat fixed;
}

#photos1 {
  @extend .photoslide;
  background: url(../images/olin1.jpg) 50% 50% no-repeat fixed;
}

#photos2 {
  @extend .photoslide;
  background: url(../images/olin2.jpg) 50% 50% no-repeat fixed;
}

#photos3 {
  @extend .photoslide;
  background: url(../images/duffield1.jpg) 50% 50% no-repeat fixed;
}

#photos4 {
  @extend .photoslide;
  background: url(../images/duffield2.jpg) 50% 50% no-repeat fixed;
}

#photos5 {
  @extend .photoslide;
  background: url(../images/mann1.jpg) 50% 50% no-repeat fixed;
}

#photos6 {
  @extend .photoslide;
  background: url(../images/mann2.jpg) 50% 50% no-repeat fixed;
}

#photos7 {
  @extend .photoslide;
  background: url(../images/mann3.jpg) 50% 50% no-repeat fixed;
}

#photos8 {
  @extend .photoslide;
  background: url(../images/appel1.jpg) 50% 50% no-repeat fixed;
}

#photos9 {
  @extend .photoslide;
  background: url(../images/appel2.jpg) 50% 50% no-repeat fixed;
}

#photos10 {
  @extend .photoslide;
  background: url(../images/PSB1.jpg) 50% 90% no-repeat fixed;
}

#photos11 {
  @extend .photoslide;
  background: url(../images/PSB2.jpg) 50% 50% no-repeat fixed;
}

#credits h3, #credits h4 {
  margin: 2.4rem 0 .6rem;
}

#credits h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

#credits p {
  margin: 0;
  font-size: 18px;
  font-size: 1.8rem;
}

/*------------------------  IMAGES  */

/* width % is width of img / 1280 px (target screen width)  */

.img-wrap {
  margin: 0 auto;
}

.img-inline {
  display: inline-block;

}

#img-large {
  width: 67.03%;
}

#img-small {
  width: 10%;
}

#img-medium {
  width: 33%;
}
.img-link {
  text-decoration: none;
}

.img-border {
  border: solid 1px #aaa;
}

#img-responsive {
  width: 50.47%;
}

#img-devices {
  width: 67.03%;
}

#img-side {
  width: 22.59%;
}

#img-bg-s {
  width: 13.83%;
}

#img-bg-m {
  width: 28.59%;
}

#img-bg-l {
  width: 45.31%;
}

#img-illy-s {
  width: 15%;
}

#img-illy-l {
  width: 46.09%;
}

#img-clean-s {
  width: 15%;
}

#img-clean-m {
  width: 31.01%;
}

#img-clean-l {
  width: 40.08%;
}

#img-sas-s {
  width: 16.95%;
}

#img-sas-l {
  width: 48.44%;
}

#img-obama-s {
  width: 12.66%;
}

#img-obama-m {
  width: 30.39%;
}

#img-obama-l {
  width: 36.8%;
}

/* width % is width of img / (40% of 1280 px) (containers are 40% of target screen width)  */

.where-block .img-wrap {
  width: 22.66%;
}

#where3 .where-block .img-wrap {
  width: 86.33%;
}

/*------------------------  BASE-REM SIZING  */


@media (min-width: 1520px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 11px;
  }
}

/* target screen width  */
@media (max-width: 1280px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1160px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1040px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 920px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 4px;
  }
}

@media (max-width: 440px) {
  html {
    font-size: 3px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 3px;
  }
}
